

<div class="form-group">
    
    <div class="relative ">
       <div class="relative w-full ">
        <input type="text" 
       id="datePicker"
       [value]="formattedDate" 
       placeholder="dd-mm-yyyy" 
       autocomplete="off"
       (click)="openDatePicker()" 
       [ngClass]="disable ? 'disabled-class cursor-default' : 'cursor-pointer'"
       class="w-full px-3 py-2 bg-white  border border-gray-300 rounded-md focus:ring-2  focus:border-transparent outline-none pr-10">


        <div class="absolute inset-y-0 right-0 flex items-center pr-3 pointer-events-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
            </svg>
        </div>
       </div>
        
        <div class="h-[1px]">
          <input #hiddenDateInput 
      type="date"
      [min]="min | date : 'yyyy-MM-dd'"
      [max]="max"
      [disabled]="disable"
      appendto="body"
      (change)="onDateSelected($event)"
      class="absolute top-[-24px] opacity-0 pointer-events-none">
        </div>
    </div>
</div>
