<div class="confirmationPopup over">
    <div class="title py-1.5">
        <p class="flex items-center justify-center text-lg ">Confirmation!!</p>
    </div>
    <hr>
    <div class="msg mt-2">
        <p class="flex items-center justify-center text-sm">{{data.msg}}</p>
    </div>

    <div class="actionBtns flex mx-5 justify-center gap-10 items-center mt-7">
        <button type="button" (click)="onSelectNo()"
              class="px-6 py-2.5 bg-red-500 hover:bg-red-600 text-white font-medium rounded-md transition-colors duration-200 shadow-sm">
              No
            </button>

            <button type="button" (click)="onSelectYes()"
              class="px-6 py-2.5 bg-blue-500 hover:bg-blue-600 text-white font-medium rounded-md transition-colors duration-200 shadow-sm">
              Yes
            </button>
    </div>
</div>