<div class="py-4 px-2.5">
    <p class="font-400 text-xl tracking-wider">Remarks & Uploads</p>

    <div class="remarkForm grid grid-cols-1 md:grid-cols-3 gap-4">

        <form [formGroup]="caseSubmitForm" class="col-span-full">
            <div class="form-group ">
                <label for="remarks" class="block text-sm font-semibold text-gray-700 mb-1.5">
                Enter Remarks<sup class="text-red-500 text-lg font-semibold">*</sup>
                </label>
                <textarea rows="4" type="text" id="remarks"
                formControlName="remarks" 
                placeholder="Enter Remarks"
                autocomplete="off"
                class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">  
                </textarea>      
            </div>

        </form>

                    <div class="form-group ">
                        <label for="firNo" class="block text-sm font-semibold text-gray-700 mb-1.5">
                        Upload Charge sheet First Page Thumbnail<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <input type="file" id="firNo"
                        
                        (change)="onFileChange($event , fileType.chargeSheetDocs)"
                        placeholder="Enter FIR संख्या (CCTNS)"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">        
                        <div *ngIf="files[fileType.chargeSheetDocs]?.error">
                            <p class="text-red-500 ml-1">{{files[fileType.chargeSheetDocs]?.error}}</p>
                        </div>
                    </div>
                    
                    
                    <div class="form-group ">
                        <label for="firNo" class="block text-sm font-semibold text-gray-700 mb-1.5">
                        Upload Full Charge sheet PDF<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <input type="file" id="firNo"
                        
                        (change)="onFileChange($event , fileType.fullChargeSheetDocs)"
                        placeholder="Enter FIR संख्या (CCTNS)"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">        
                        <div *ngIf="files[fileType.fullChargeSheetDocs]?.error">
                            <p class="text-red-500 ml-1">{{files[fileType.fullChargeSheetDocs]?.error}}</p>
                        </div>
                    </div>
                    
                    
                    <div class="form-group ">
                        <label for="firNo" class="block text-sm font-semibold text-gray-700 mb-1.5">
                        Upload Other Doc. (If any)<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <input type="file" id="firNo"
                        
                        (change)="onFileChange($event , fileType.otherDocs)"
                        placeholder="Enter FIR संख्या (CCTNS)"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">        
                        <div *ngIf="files[fileType.otherDocs]?.error">
                            <p class="text-red-500 ml-1">{{files[fileType.otherDocs]?.error}}</p>
                        </div>
                    </div>


                <div class="quickSummary">
                    Quick summary here.......
                </div>      
    </div>
</div>