input.ng-invalid.ng-touched {
  border-color: #ef4444;
}
select.ng-invalid.ng-touched {
  border-color: #ef4444;
}

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #ef4444 !important;
}