<div class="forms my-3 py-4 px-3 mx-3 bg-white rounded-lg">


    <form [formGroup]="complaintRegForm">
    <div class="layout grid grid-cols-12 gap-3 items-start">
            <div class="complain-form col-span-8 p-2 grid grid-cols-1 md:grid-cols-2 gap-4 border-1 border-gray-300 rounded-lg">
                <p class="col-span-full text-xl">Register Complaint (No FIR logged)</p>

                    <!-- Complaint No. (अल्फान्यूमेरिक) -->
                    <div class="form-group ">
                        <label for="complaintNo" class="block text-sm font-400 text-gray-700 mb-1">
                        Complaint No. (अल्फान्यूमेरिक)<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <input type="text" id="complaintNo"
                        formControlName="complaintNo" 
                        placeholder="Enter Complaint No. (अल्फान्यूमेरिक)"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                    </div>


                    <!-- Complaint Date -->
                    <div class="form-group ">
                        <label for="complaintDate" class="block text-sm font-400 text-gray-700 mb-1">
                        Complaint Date<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <app-date-picker formControlName="complaintDate"></app-date-picker>
                        <!-- <input type="text" id="name"
                        formControlName="accusedName" 
                        placeholder="Enter Name"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">        -->
                    </div>
                    
                    
                    
                    <!-- Complaint Type (परिवाद का प्रकार) -->
                    <div class="form-group col-span-full">
                        <label for="complaintType" class="block text-sm font-400 text-gray-700 mb-1">
                        Complaint Type (परिवाद का प्रकार)<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <ng-select 
                            [items]="complaintTypeDropdown"
                            bindLabel="text"
                            bindValue="value"
                            placeholder="Select Complaint Type (परिवाद का प्रकार)"
                            formControlName="complaintType"
                            class="custom-ng-select"
                            id="firYear"
                            >
                        </ng-select> 
                    </div>


                    <!-- अपराध का वर्गीकरण (Classification) -->
                    <div class="form-group ">
                        <label for="classification" class="block text-sm font-400 text-gray-700 mb-1">
                        अपराध का वर्गीकरण (Classification)<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <ng-select 
                            [items]="complaintTypeDropdown"
                            bindLabel="text"
                            bindValue="value"
                            placeholder="Select अपराध का वर्गीकरण (Classification)"
                            formControlName="classification"
                            class="custom-ng-select"
                            id="firYear"
                            >
                        </ng-select> 
                    </div>


                    <div class="act-section flex items-center gap-3">
                        <!-- Act under which Offence -->
                        <div class="form-group ">
                            <label for="actUnderOffence" class="block text-sm font-400 text-gray-700 mb-1">
                            Act under which Offence<sup class="text-red-500 text-lg font-semibold">*</sup>
                            </label>
                            <input type="text" id="name"
                            formControlName="actUnderOffence" 
                            placeholder="Enter Act under which Offence"
                            autocomplete="off"
                            class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                        </div>


                        <!-- Section(s) -->
                        <div class="form-group ">
                            <label for="section" class="block text-sm font-400 text-gray-700 mb-1">
                            Section(s)<sup class="text-red-500 text-lg font-semibold">*</sup>
                            </label>
                            <input type="text" id="section"
                            formControlName="section" 
                            placeholder="Enter Section(s)"
                            autocomplete="off"
                            class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                        </div>
                    </div>


                    <div class="form-group col-span-full">
                        <label for="descOffence" class="block text-sm font-semibold text-gray-700 mb-1.5">
                        Brief Description of Offence<sup class="text-red-500 text-lg font-semibold">*</sup>
                        </label>
                        <textarea rows="4" type="text" id="descOffence"
                        formControlName="descOffence" 
                        placeholder="Enter Brief Description of Offence"
                        autocomplete="off"
                        class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">  
                        </textarea>      
                    </div>



                <div class="personDetailCaseFiledForm col-span-full" formArrayName="personDetailCaseFiledForm">
                            <div class="heading flex items-center justify-between">
                                <p class="text-base font-semibold tracking-wider">Details of Person(s) Against Whom Complaint Filed</p>
                                <button class="flex items-center gap-2 bg-[#9333EA] text-white rounded-2xl px-2.5 py-1.5 font-400" (click)="addPersonDetailCaseFiled()"><i class="fa-solid fa-plus"></i>Add Person</button>
                            </div>

                    <div *ngFor="let personDetail of personDetailCaseFiledForm.controls; let i=index"  [formGroupName]="i" class="accused-form grid grid-cols-1 md:grid-cols-3 gap-4 mt-3 border-1 border-[#E2E8F0] rounded-lg p-2.5">

                        <!-- Name -->
                        <div class="form-group ">
                            <label for="caseFiledAgainstName" class="block text-sm font-base text-gray-700 mb-1">
                            Name<sup class="text-red-500 text-lg font-semibold">*</sup>
                            </label>
                            <input type="text" id="caseFiledAgainstName"
                            formControlName="caseFiledAgainstName" 
                            placeholder="Enter Name"
                            autocomplete="off"
                            class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                        </div>
                        
                        
                        <!-- Address -->
                        <div class="form-group ">
                            <label for="caseFiledAgainstAddress" class="block text-sm font-base text-gray-700 mb-1">
                            Address<sup class="text-red-500 text-lg font-semibold">*</sup>
                            </label>
                            <input type="text" id="caseFiledAgainstAddress"
                            formControlName="caseFiledAgainstAddress" 
                            placeholder="Enter Address"
                            autocomplete="off"
                            class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                        </div>
                        
                            <!-- Designation -->
                            <div class="form-group w-full">
                                <label for="caseFiledAgainstDesignation" class="block text-sm font-base text-gray-700 mb-1">
                                    Designation<sup class="text-red-500 text-lg font-semibold">*</sup>
                                </label>
                                <input type="text" id="caseFiledAgainstDesignation"
                                formControlName="caseFiledAgainstDesignation" 
                                placeholder="Enter Designation"
                                autocomplete="off"
                                class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                            </div>
                            
                            
                            <!-- Institution -->
                            <div class="form-group w-full">
                                <label for="caseFiledAgainstInstituation" class="block text-sm font-base text-gray-700 mb-1">
                                    Institution<sup class="text-red-500 text-lg font-semibold">*</sup>
                                </label>
                                <input type="text" id="caseFiledAgainstInstituation"
                                formControlName="caseFiledAgainstInstituation" 
                                placeholder="Enter Institution"
                                autocomplete="off"
                                class="w-full px-2 py-1.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">       
                            </div>

                        
                    

                        

                        <div class="accuse-remove flex items-end justify-start">
                            <button class=" border-2 border-[#E2E8F0] rounded-2xl px-2.5 py-1.5 flex items-center gap-2" (click)="removePersonDetailCaseFiled(i)"><i class="fa-solid fa-minus"></i>Remove</button>
                        </div>


                    </div>
                </div>
            </div>

            <div class="col-span-4 px-2 py-3.5 border-1 border-gray-300 rounded-lg grid grid-cols-1 ">
                <div class="searchbyCaseId flex items-center gap-2">
                    <input type="text" id="searchbyCaseId"
                        formControlName="searchbyCaseId" 
                        placeholder="Search By Case ID"
                        autocomplete="off"
                        class="w-full px-2 py-2.5 bg-white border-2 border-gray-200 rounded-lg focus:ring-2 outline-none transition-all duration-200 hover:border-gray-300 shadow-sm">  
                    <button class="px-3.5 py-2.5 rounded-lg bg-[#729FCA] text-white">Search</button>
                </div>
                <div class="savedEntries flex items-center justify-between my-5">
                    <p class="font-semibold text-lg">Saved Entries</p>
                    <p>0</p>
                </div>
                <hr>
                <p class="py-5">Quick actions</p>

                <div class="actionBtns flex items-center gap-4 justify-end">
                    <button class="border-1 rounded-lg py-2 px-3.5 border-blue-500 text-blue-500">Clear All</button>
                    <button class="bg-gradient-to-r from-[#2466EA] to-[#08B1D5] rounded-lg py-2 px-3.5  text-white">Export JSON</button>
                </div>
            </div>
        </div>
    </form>



</div>