<!-- <div class="p-4">
    <div
    class="heading rounded-md my-4 py-2 border-[#cccccc] border-1 flex items-center justify-between bg-white"
  >
    <p class="mx-4 font-semibold text-lg">Select User To Login.</p>
  </div>

<div class="p-4 bg-white">

  <div class="ag-grid-container">
      <ag-grid-angular 
          style="height: 500px; width: 100%;"
          class="ag-theme-quartz"
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [pagination]="false">
      </ag-grid-angular>
  </div>


</div>
</div> -->


<!-- ===================== ROLE SELECTION ===================== -->
<div class="forms">

  <!-- Page Card -->
  <div class="page-card">

    <!-- Card Header -->
    <div class="card-header">
      <div class="card-header-title">
        <i class="fa-solid fa-user-shield"></i>
        Select User To Login
      </div>
    </div>

    <!-- Card Body -->
    <div class="card-body">

      <!-- AG Grid -->
      <div class="grid-table-wrapper">
        <ag-grid-angular
          style="height: 500px; width: 100%;"
          class="ag-theme-quartz"
          [rowData]="rowData"
          [columnDefs]="colDefs"
          [pagination]="false">
        </ag-grid-angular>
      </div>

    </div>
  </div>

</div>





